/* Color Theme is Sunset Over a Swamp from
*  https://visme.co/blog/color-combinations/
*/

.spin {
  background-color: red !important;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

#sectionnumber {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 10px;
  color: white;
  background-color: black;
  border-radius: 25px;
  z-index: 1;
}

.section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}

.section h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.section:nth-child(n) {
  background-color: #6465A5;
}

.section:nth-child(2n) {
  background-color: #6975A6;
}

.section:nth-child(3n) {
  background-color: #F3E96B;
}

.section:nth-child(4n) {
  background-color: #F28A30;
}

.section:nth-child(5n) {
  background-color: #F05837;
}